
#main{
  background:lightgray;
  width:100%;


}
#title{
    text-align:center;
    padding-top:10px;
    padding-bottom:5px;
    font-family: 'Lobster',cursive;

}
#img-div{
  background:white;
  border-radius:10px;
  max-width:98%;
  height:auto;
  padding-bottom: 1px;
  padding-top:20px;
  margin-left:12px;


}
#img-div img{
  display:block;
  margin-left:auto;
  margin-right:auto;
  max-width:100%;
  height:auto;
  border-radius:50%;
}
figcaption{
   text-align:center;
}

h4{
  text-align:center;
  margin-right: 40px;

}

/*This will put the unordered list in the middle*/
ul {
  display:table;
  margin:0 auto;
}

p{
  text-align:center;
  font-style:italic;
}
