/*This stylesheet illustrates the css grid properties
  for modifying sizes of rows and column container elements*/

 .grid_container{
    background:black;
    width:100%;
    min-height:300px;

    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
 }

 .box1{
    background:yellow;
    /*this property will call the class with .box1 selector to take up the whole rows from line 1
    to line 4 since this is a 3X3 grid container*/
    grid-row:1/4;
 }
 .box2{
     background:cyan;
 }
 .box3{
     background:green;
 }
 .box4{
     background:lightPink;
 }
 .box5{
     background:magenta;
 }